.HeaderItem {
	color: var(--primary-foreground-color);
	cursor: pointer;

	padding: 0.5rem;

	text-decoration: unset;
	font-size: 1.1rem;

	white-space: nowrap;

	border-radius: 16px;

	&:hover {
		background-color: var(--hover-color);
		filter: none;
	}

	&.HeaderItem_active {
		color: var(--accent-color);
	}
}