.HeaderItem {
	color: var(--primary-foreground-color);
	cursor: pointer;

	padding: 0.5rem;

	text-decoration: unset;
	font-size: 1.1rem;

	&:hover {
		text-decoration: underline;
	}

	&.HeaderItem_active {
		text-decoration: underline;
		color: var(--accent-color);
	}
}