.HeaderItem {
	color: var(--primary-foreground-color);
	cursor: pointer;

	padding: 1rem;

	text-decoration: unset;
	font-size: 1.1rem;

	&:hover {
		background-color: var(--primary-background-color);
	}

	&.HeaderItem_active {
		text-decoration: underline;
		color: var(--accent-color);
	}
}