.IconButton {
	cursor: pointer;

	border-radius: 100%;

	width: 2rem;
	height: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		content: "";

		width: 1.5rem;
		height: 1.5rem;

		display: block;

		mask-repeat: no-repeat;
		mask-size: contain;
		background-color: var(--primary-foreground-color);
	}

	&:hover {
		background-color: var(--hover-color);
	}
}