.ThemeSwitcher {
	margin-left: 0.5rem;

	&.ThemeSwitcher_light::before {
		mask-image: url("/src/icons/themes/moon.svg");
	}

	&.ThemeSwitcher_dark::before {
		mask-image: url("/src/icons/themes/sun.svg");
	}
}