.Contact {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 3rem;
	font-size: 1.5rem;
	gap: 0.5rem;

	.Contact_link {
		display: flex;
		flex-direction: row;
		align-items: center;

		width: min-content;

		text-decoration: unset;
		white-space: nowrap;

		&::before {
			content: "";
			display: block;

			height: 1.5rem;
			width: 1.5rem;
			background-color: var(--accent-color);

			margin-right: 8px;

			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center;
		}

		&.Contact_link_twitter::before {
			mask-image: url("/src/icons/social/twitter.svg");
		}

		&.Contact_link_github::before {
			mask-image: url("/src/icons/social/github.svg");
		}

		&.Contact_link_matrix::before {
			mask-image: url("/src/icons/social/matrix.svg");
		}

		&.Contact_link_location::before {
			mask-image: url("/src/icons/place.svg");
		}

		&.Contact_link_email::before {
			mask-image: url("/src/icons/social/email.svg");
		}

		&.Contact_link_youtube::before {
			mask-image: url("/src/icons/social/youtube.svg");
		}

		&.Contact_link_linkedin::before {
			mask-image: url("/src/icons/social/linkedin.svg");
		}

		&.Contact_link_reddit::before {
			mask-image: url("/src/icons/social/reddit.svg");
		}

		&.Contact_link_stackoverflow::before {
			mask-image: url("/src/icons/social/stackoverflow.svg");
		}

		&.Contact_link_gitlab::before {
			mask-image: url("/src/icons/social/gitlab.svg");
		}

		&.Contact_link_goodreads::before {
			mask-image: url("/src/icons/social/goodreads.svg");
		}
	}
}