:root[data-theme="dark_theme"] {
	--primary-background-color: #282C34;
	--secondary-background-color: #21252B;

	--primary-foreground-color: white;
	--secondary-foreground-color: #B9B3B3;

	--accent-color: #238CF5;
	--hover-color: #588BFF60;
}