:root[data-theme="dark_theme"] {
	--primary-background-color: #282c34;
	--secondary-background-color: #21252b;
	--code-background-color: #3b404b;

	--primary-foreground-color: white;
	--secondary-foreground-color: #b9b3b3;

	--accent-color: #238cf5;
	--hover-color: #588bff60;
}
