:root[data-theme="light_theme"] {
	--primary-background-color: white;
	--secondary-background-color: gray;

	--primary-foreground-color: black;
	--secondary-foreground-color: #716A6A;

	--accent-color: #3C3CFF;
	--hover-color: #3C3CFF20;
}
