:root[data-theme="light_theme"] {
	--primary-background-color: white;
	--secondary-background-color: lightgray;
	--code-background-color: #c4c4c4;

	--primary-foreground-color: black;
	--secondary-foreground-color: #716a6a;

	--accent-color: #238cf5;
	--hover-color: #3c3cff20;
}
