@import url(./scss/themes/light.scss);
@import url(./scss/themes/dark.scss);

body {
	height: 100vh;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: var(--primary-foreground-color);
}

root {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--primary-background-color);
	min-height: min-content;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	color: var(--accent-color);

	&:hover {
		filter: brightness(2);
	}
}